* {
  margin: 0;
  padding: 0;
  border-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0 10%;
  margin-bottom: 2rem;
}

h4 {
  font-size: 1rem;
  color: rgb(56, 56, 56);
}

h3 {
  font-size: 1.5rem;
  color: rgb(56, 56, 56);
  line-height: 2.5rem;
  maring: 2rem 0rem;
}

a {
  color: rgb(56, 56, 56);
}
